@import 
url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    font-family:'Open Sans', sans-serif;
     text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
   
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;

}::-webkit-scrollbar-thumb:active {
  background: darkgray;
  
}
.headermen{
    box-shadow: 0 4px 3px -3px lightgray;
}
 .mainimg1{
        background-image: url(ps4.jpg);
    }
        .mainimg2{
        background-image: url(hummer2.jpg);
    }
            .mainimg3{

        background-image: url(touch.jpg);
    }
                .mainimg4{

        background-image: url(note.jpg);

       
        
    }
                    .mainimg5{
  
        background-image: url(idisvoeidorogoi.jpg);
     
    }
                    .mainimg6{
  
        background-image: url(micr.jpg);

    }
                        .mainimg7{
    
        background-image: url(nya.png);
    }
                        .mainimg8{
 
        background-image: url(samsa.jpg);
      

    }
                            .mainimg9{
 
        background-image: url(cybertruck.png);
      

    }
                            .mainimg10{
 
        background-image: url(chromium.png);
      

    }
                            .mainimg11{
 
        background-image: url(spotify.jpg);
      

    }
                            .mainimg12{
 
        background-image: url(sonymobil.png);
      

    }
.downheader{
width:100%;
height:20px;
    background-color: #f2f2f2f2;
    position: absolute;
    top:50px;
}
.headermen a{
color:black;
    
}
.pup{
width:40px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: dodgerblue;
    border:1px solid #fff;
}




.headermen a:hover{
    background-color: dodgerblue;
    color:white;
}
body{
position:relative;
    top:0px;
    padding:0px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:-10px;
    background-color: #f2f2f2;
}

header{
    z-index:10;
    position: sticky;
top:0px;
   border-radius: 2px;
    height:50px;
    background-color: #fff;
    padding:0px;
    margin:auto;
   box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    box-shadow: 2px;
    font-weight: bolder;
   
}
footer{
    display: flex;
    flex-direction: row;
    height:260px;
    margin:-20px;
    margin-bottom:-30px;
    padding-bottom:0px;
   margin-top:40px;
    background-color: dodgerblue;
    color:white;
        margin-top:20px;
    
}
footer a{
    color:white;
}

ul{
    display: flex;
    flex-direction: row;
justify-content: flex-end;
    list-style: none;
   
   
    
}
  .change{
    outline: none;
cursor: pointer;
    width:40px;
     height:40PX;
     background-image: url(moon.png);
     background-size: 20px;
     background-repeat: no-repeat;
     background-position: center;
     background-color: #f3f3f3f3;
     border:none;
     padding:25px;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
      border-radius: 0px 3px 3px 0px;
}
 .change p{
display: none;
}
.item:active{
    color:lightgray;
    transition: color 0.1;
}

.headimg{
    position: relative;
    top:-66px;
    justify-content: flex-start;
    display: block;
    width:40px;
    height: 40px;
    background-size:40px;
    background-position: center;
    background-repeat: no-repeat;
    padding:5px;
   background-color: dodgerblue;
    border-radius: 3px 0px 0px 3px;

}
.headimg1{
   
   
    position: absolute;
 top:0px;
    left:0px;

    
    width:40px;
    height: 40px;

    background-position: center;
    background-repeat: no-repeat;
    padding:5px;

}

header ul a{
   display: block;
    text-decoration: none;
    color:#fff;
   margin:auto;
    padding:14px;
transition: all 0.1s;

    
}
.rightlink{
   box-shadow: inset 0 0 1px rgba(0,0,0,0.7);
    color:black;
    display: block;
 margin:-10px;
    padding:10px;
   background-color: #fff;

}
header ul a:hover{
    background-color: white;
    color:black;
    
}
    .main1{
        width:98%;
      
      
    }
   .rightinfo{
        margin: 20px 0px 20px 20px; 
       
         
    }

.rightinfo ul{
    transition: all 0.3s;
   
    
  
}
.rightinfo ul:hover{
     box-shadow: 1px 2px 2px rgba(0,0,0,0.1), -1px 2px 0px rgba(0,0,0,0.1);
   

}
.line2{
  
    display: flex;
    flex-direction: row;
    margin-right:240px;
    margin-top:-285px;
}
.line3{
    display: flex;
    flex-direction: row;
   margin-right: 220px;
    margin-top:-20px;
}
.line4{
    display: flex;
    flex-direction: row;
   margin-right:215px;
    
    
}
.line5{
    display: flex;
    flex-direction: row;
   margin-right: 220px;
  
}

#up{
    display: block;
    width:40px;
    height:40px;
    background-image: url(whitearrow.png);
    background-size: 35px;
    margin:auto;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position:bottom;
    transform: rotate(180deg);
   
}
.maininfo1,.maininfo2,.maininfo3,.maininfo4,.maininfo5,.maininfo6,.maininfo7,.maininfo8{
opacity: 0.25;
    height:auto;
    
}
@media(min-width:1200px){
    .allin{
    width:900px;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.about{
    border-radius: 3px;
    padding-left:80px;
    padding-top:35px;
   margin-top:20px;
    width:950px;
    height:430px;
    background-color: #ffffff;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}
@keyframes showup2 {
    0% {opacity:0;}
    30% {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}


@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    50% {width:0;}
    60% {opacity:1; width:200px;}
    100% {opacity:1;width:355px;}
}

.anim1{
    animation:showup 7s;
}
.thanks{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.thanks:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup2 7s ;
}

.thanks:last-of-type {
  margin-left:5px;
  animation: reveal 7s ;
}
    header{
        width:1150px;
    }

    .all{
      
        width:1150px;
        margin: auto;
    }
        .all2{
        width:1150px;
        margin: auto;
    }
 
    
}
@media( min-height: 900px){

  .foot{
    width:100%;
    position: fixed;
    bottom:-0px;
 
}
}
@media(min-width: 480px) and (max-width: 900px){
.line5 .main1{
    margin-bottom:-30px;
}
.pup{
    margin-top:0px;
}

}
@media(min-width:900px){
  

    .line5 .mainimg12{
        background-position: 0 -150px;
        background-repeat: no-repeat;
    }
    .all{

        display: flex;
        flex-direction: row;
      
    }

      .all2{

        display: flex;
        flex-direction: column;
      
    }
       .mainart1icle1{
        margin:-50px;
     
    }
    .razd {
        display: flex;
        flex-direction: column;
        position: relative;
     
       
        width:auto;
        padding:0px;
      
        margin: auto;
        margin-top:10px;
    }
    .razd2{
       
        width:auto;
        height: 200px;
             display: flex;
        flex-direction: column;
        margin: auto;
         margin-top:10px;
    }
    .item{
        margin-top:5px;
    }
    .title{
font-weight: bolder;
    }
    .rightinfo{
        
        justify-content: flex-end;
       
        width:220px;
        background-color: #f2f2f2;
    }
    .rightinfo ul {
       
    
      background-color: transparent;
        padding:10px;
        
        
    }

        .main1{
            height: 300px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:20px;
           
      
            
    }
            .main2{
                margin:0px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                .main3{
                margin-left:20px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                    .main4{
                margin-left:0px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                        .main5{
                margin-left:20px;
                      
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                            .main6{
                margin-left:20px;
                            margin-right:20px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                                .main7{
                
                         
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                                .main8{
                margin-left:20px;
                      margin-right:25px;     
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
    .mainimg1,.mainimg2,.mainimg3,.mainimg4,.mainimg5,.mainimg6,.mainimg7,.mainimg8,.mainimg9,.mainimg10,.mainimg11,.mainimg12,.mainimg13,.mainimg14{
        display: block;
   
        height: 300px;
        background-position: center;
        background-size: cover;
        opacity: 0.95;
       
        background-color: dodgerblue;
    }
  
    .line5 .main1{
        margin-top:15px;
        height: 280px;
    }
    .maininfo1{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
       .maininfo2{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
          .maininfo3{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
              .maininfo4{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                  .maininfo5{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                      .maininfo6{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo7{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo8{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }

    .info1{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:415px;
   text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
        .info2{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
            .info3{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
                .info4{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
                    .info5{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
 text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
                    .info6{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
  text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
                        .info7{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
  text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
                        .info8{
      
        position:absolute;
        top:0px;
       color: white;
        margin:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
 text-shadow: 0px 1px 4px black;
        z-index: 3;
    }
    .btn1{
        font-weight: 100;
    
         border-radius: 2px;
        position: absolute;
        top:0px;
        width:200px;
        height:50px;
        background-color: #f2f2f2f2;
        display: block;
        color:dodgerblue;
         text-shadow: 0px 0px 0px black;
        font-size: 20px;
        text-align: center;
        line-height: 10px;
        margin: 180px 30px 30px 50px;
    }
    
}
@media(max-width:1200px){
      .allin{
   
         
    display: flex;
    flex-direction: row;
    margin: auto;
}
.about{
    margin: auto;
    width: auto;
    border-radius: 3px;
    padding-left:40px;
    padding-right: 40px;
    padding-top:35px;
   margin-top:20px;
    height: auto;
    min-height:430px;
    background-color: #ffffff;
}
    .info1{
        width:auto;
    }
    .title{
        width:140px;
        height: auto;
    }
    .rightinfo{
        display:none;
    }
    .line2{
        margin-top: 0px;
    }
    .line2,.line3,.line4,.line5 {
        
margin: auto;
    width: 100%;
    }
    .main1,.main2,.main3,.main4,.main5,.main6,.main7,.main8{
        width:100%;
       
    }
    .main3,.main4,.main5,.main6,.main7,.main8{
margin-top:15px;
    }
    
    .main2,.main3{
        margin-top:15px;
    }
    .main8,.main6{
        margin-right:0px;
    }
}
@media(max-width:900px){
    .line5 .main1{
        margin-top:10px;
      
    }
    .line2{
        padding-top:10px;
       
    }
       .all{

        display: flex;
        flex-direction: row;
      margin: auto;
    }

      .all2{

        display: flex;
        flex-direction: column;
      margin: auto;
    }
    .razd {
        display: flex;
        flex-direction: column;
        position: relative;
     
       
        width:100px;
        padding:0px;
      
        margin: auto;
        margin-top:10px;
    }
    .razd2{
       
        width:100px;
        height: 200px;
             display: flex;
        flex-direction: column;
        margin: auto;
         margin-top:10px;
    }
    .item{
        margin-top:5px;
    }
    .title{
font-weight: bolder;
    }
    .rightinfo{
        
        justify-content: flex-end;
       
        width:220px;
        background-color: #f2f2f2;
    }
    .rightinfo ul {
       
    
      
        padding:10px;
          background-color: #fff;
        
    }
        .main1{
            height: 300px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:20px;
           width:100%;
    
            
    }
            .main2{
                margin:0px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
       
      
            
    }
                .main3{
               
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      margin-left: auto;
            margin-right: auto;
    }
                    .main4{
                
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                        .main5{
             
                      
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                            .main6{
               
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                                .main7{
                
                         
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                                .main8{
            
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
     .mainimg1,.mainimg2,.mainimg3,.mainimg4,.mainimg5,.mainimg6,.mainimg7,.mainimg8,.mainimg9,.mainimg10,.mainimg11,.mainimg12,.mainimg13,.mainimg14{
          display: block;
   
        height: 250px;
        background-position: center;
        background-size: cover;
       
        opacity: 0.95;
       
        background-color: dodgerblue;
    }
    .mainimg1{
        display: block;
   
        height: 300px;
        background-position: center;
        background-size: cover;
        opacity: 0.95;
       
        background-color: dodgerblue;
    }
  
    .maininfo1{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
       .maininfo2{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
          .maininfo3{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
              .maininfo4{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
      
    }
                  .maininfo5{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                      .maininfo6{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo7{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo8{
    position: relative;
        top:-300px;
        opacity: 0.25;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
    .info1{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:auto;
        margin-right:80px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
        .info2{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
            .info3{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                .info4{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                    .info5{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                    .info6{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                        .info7{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                        .info8{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
    .btn1{
        font-weight: 100;
    
         border-radius: 2px;
        position: absolute;
        top:0px;
        width:200px;
        height:50px;
        background-color: #f2f2f2f2;
        display: block;
        color:dodgerblue;
         text-shadow: 0px 0px 0px black;
        font-size: 20px;
        text-align: center;
        line-height: 10px;
        margin: 180px 30px 30px 50px;
    }
    
    .line2,.line3,.line4,.line5{
        flex-direction: column;
        margin: auto;
        width:100%;
    }
    .main1,.main2,.main3,.main4,.main5,.main6,.main7,.main8{
        width:100%;
        margin-left: auto;
        margin-right: auto;
         margin-bottom: 0px;
    }
    .main2,.main3,.main4,.main5,.main6,.main7,.main8{
     height:200px;
        margin-top:10px;
    }
    .main1{
       margin-bottom: -5px;
}
    .info2,.info3,.info4,.info5,.info6,.info7,.info8{
        width:400px;
    }
    
    .change p{
        display: none;
    }
}
@media(max-width:480px){
  .line2{
  padding-top:5px;
  }
    .foot{
        margin-top:20px;
    }
    footer{
        padding: 0px;
        margin: 0px;
    }
    .change{
         box-shadow: inset 0 0 0px rgba(0,0,0,0.0);
    }
    header{
border-radius: 0px;
    }
       .all{

        display: flex;
        flex-direction: row;
      margin: auto;
    }

      .all2{

        display: flex;
        flex-direction: column;
      margin: auto;
    }
    .razd {
        display: flex;
        flex-direction: column;
        position: relative;
     
       
        width:100px;
        padding:0px;
      
       margin: auto;
        margin-top:10px;
    }
    .razd2{
       
        width:150px;
        height: 200px;
             display: flex;
        flex-direction: column;
        margin:auto;
         margin-top:10px;
        padding: 0px;
       
    }
    .item{
        margin-top:5px;
    }
    .title{
font-weight: bolder;
    }
    .rightinfo{
        
        justify-content: flex-end;
       
        width:220px;
        background-color: #f2f2f2;
    }
    .rightinfo ul {
       
    
      
        padding:10px;
          background-color: #fff;
        
    }
        .main1{
            height: 300px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:20px;
           width:100%;
      
            
    }
            .main2{
                margin:0px;
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                .main3{
               
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      margin-left: auto;
            margin-right: auto;
    }
                    .main4{
                
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                        .main5{
             
                      
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                            .main6{
               
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:320px;
          
      
            
    }
                                .main7{
                
                         
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
                                .main8{
            
                padding:0pz;
            height: 250px;
          position: relative;
            justify-content: flex-start;
            border-radius: 2px;
            overflow: hidden;
        display:block;
      margin-top:15px;
            width:100%;
          
      
            
    }
    
    .mainimg1,.mainimg2,.mainimg3,.mainimg4,.mainimg5,.mainimg6,.mainimg7,.mainimg8,.mainimg9,.mainimg10,.mainimg11,.mainimg12,.mainimg13,.mainimg14{
        
                display: block;
   
        height: 250px;
        background-position: center;
        background-size: cover;
      
        opacity: 0.95;
       
        background-color: dodgerblue;
    }
    .mainimg1{
        display: block;
   
        height: 300px;
        background-position: center;
        background-size: cover;
        
        opacity: 0.95;
       
        background-color: dodgerblue;
    }
      
    .maininfo1{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
       .maininfo2{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
          .maininfo3{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
              .maininfo4{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
      
    }
                  .maininfo5{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                      .maininfo6{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo7{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
                         .maininfo8{
    position: relative;
        top:-300px;
        opacity: 0.45;
     height:300px;
      display: block;
        background-color: dodgerblue;
       
    }
    .info1{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:auto;
        margin-right:80px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
        .info2{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
            .info3{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                .info4{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                    .info5{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                    .info6{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:200px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                        .info7{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
                        .info8{
      
        position:absolute;
        top:0px;
       color: white;
        padding:40px 20px 20px 50px;
    z-index: 10;
   width:300px;
   text-shadow: 1px 1px 2px black;
        z-index: 3;
    }
    .btn1{
        font-weight: 100;
    
         border-radius: 2px;
        position: absolute;
        top:0px;
        width:200px;
        height:50px;
        background-color: #f2f2f2f2;
        display: block;
        color:dodgerblue;
         text-shadow: 0px 0px 0px black;
        font-size: 20px;
        text-align: center;
        line-height: 10px;
        margin: 180px 30px 30px 50px;
    }
    
    .line2,.line3,.line4,.line5{
        flex-direction: column;
        margin: auto;
        width:100%;
    }
    .main1,.main2,.main3,.main4,.main5,.main6,.main7,.main8{
        width:100%;
        margin-left: auto;
        margin-right: auto;
         margin-bottom: 0px;
    }
    .main2,.main3,.main4,.main5,.main6,.main7,.main8{
     height:130px;
        margin-top:10px;
       
    }
   
    .main1{
       margin-bottom: 0px;
        height: 200px;
        margin-top:10px;
}
    .info1{
width:250px;
        margin-left: -40px
    }
    .info2,.info3,.info4,.info5,.info6,.info7,.info8{
        width:250px;
        padding-top:0px;
        padding-left:10px;
    }
    .btn1{
display: none;
    }
    .mainimg1{
     
    
    }
    .headermen{
    position: absolute;
        right: 0px;
        top:35px;
        
        display: none;
      background-color: #f2f2f2f2;
        width:100%;
        flex-direction: column;
     
    }
    .headermen li{
       
              background-color: dodgerblue;
margin-top:-2px;
        margin-left:-20px;
        margin-right: -20px;
       text-align: center;
    }
    header{
       
        position: relative;
    }
   <!-- he * ader:hover .headermen{
        display: block; --> ------------------
        
    }
    hea der:hover {
        margin-bottom:150px;
        
    }
    .headimg{
       display: none;
       
    }
    body{
        margin:0px;
    }
    .change p{
        margin: auto;
        padding:  0;
        text-align: center;
        line-height: 0;
       width:120px;
        display: block;
        color:white;
        font-weight: bolder;
        font-size: 16px;
      transition: color 0.1s;
      
    }
   .change{
        background-color: dodgerblue;
        margin-right:120px;
        width: 100%;
       margin-right: 0px;
   
       background-image: url(#);
    }
    
    ul .change:hover {
        background-color: #fff;
        
    }
    ul .change:hover .btnp{
        color:black;
    }
   <!-- .head -- ermenuimg{
        background-image: url(menuimg.png);
        display: block;
        width:40px;
        right:5px;
        background-repeat: no-repeat;
        height: 40px;
        position: absolute;
        top:5px;
       
        background-size: contain;
    } 
    -->
}
.maincontent{
    margin-top:20px;
    display: flex;
  
    width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width:1150px;
   
}
.rightart{
    background-color: transparent;
}


.mainart1icle1{
   
    position: relative;
height:400px;
    width:250px;
    display: block;
    background-color: #ffffff;
     
    margin-left:0px;
    margin:auto;
   
}
.mainart1icle2{
   
    position: relative;
height:400px;
    width:250px;
    display: block;
    background-color: #ffffff;
  
  margin:auto;
    
}
.mainart1icle3{
   
    position: relative;
height:400px;
    width:250px;
    display: block;
    background-color: #ffffff;
   
     margin:auto;
  
}
.mainart1icle4{
   
    position: relative;
height:400px;
    width:250px;
    display: block;
    background-color: #ffffff;
  margin:auto;
    margin-right: 0px;
    
}


.mainpic1{
background-image: url(top10.png);
      
}
.mainpic2{
background-image: url(cyber.jpg);
      
}

.mainpic3{
background-image: url(intel.jpg);
      
}

.mainpic4{
background-image: url(6g.jpg);
      
}

.mainpic5{
background-image: url(ps4.png);
      
}

.mainpic6{
background-image: url(star.jpg);
      
}

.mainpic7{
background-image: url(ipad.jpg);
      
}
.mainpic8{
background-image: url(falcon.png);
      
}


.mainpic1,.mainpic2,.mainpic3,.mainpic4,.mainpic5,.mainpic6,.mainpic7,.mainpic8{
    width:100%;
    height: 145px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mainblue1{
    display: block;
    height:145px;
    width: 100%;
    background-color: dodgerblue;
    position: absolute;
    top:0px;
    opacity: 0.25;
    
}
.maintext1{
    margin:20px;
    margin-top:25px;
    color:black;
    font-weight: bolder;
}
.secondtext1{
    color:grey;
    font-size: 13px;
    margin:20px;
    font-weight: lighter;
    margin-top:40px;
   padding-bottom:20px;
}
.twoaarticles{
    display: flex;
   
width:100%;
    margin: auto;
}


@media(max-width:1050px){
    
    .maincontent{
        flex-direction: column;
        margin: 0px;
    }
    .mainart1icle1,.mainart1icle2,.mainart1icle3,.mainart1icle4{
        width:100%;
     height: 400px;
    
       
    }
    .mainart1icle1,.mainart1icle3{
margin-right: 20px;
    }
    .maintext1,.secondtext1{
        width:90%;
      margin-top:  auto;
       
        padding-bottom:15px;
    }
    .twoaarticles{
        margin:10px;
       
       
        margin-left: 0;
        margin-right: 0;
    }
    .line2{
        margin-top: -5px; 
    } 
    .mainart1icle1,.mainart1icle2{
margin-top:10px;}
}
@media(min-width:480px){
    

.dropdown{
visibility: hidden;
    display: none;
}
        .mainart1icle1{
    margin-left:0;
      

    }
 
  
}
@media(max-width:480px){
    .line5 .maininfo1{
        margin-top:50px;
        height:200px;
    }
    .info1{
        padding-top:10px;
        width:auto;
        margin-right:10px;
    }
        .maincontent{
        flex-direction: column;
            width:100%;
    }
.mainart1icle1,.mainart1icle2,.mainart1icle3,.mainart1icle4{
        width:100%;
     height: auto;
      
          margin:0px;
        margin-top:10px;
    }
    .mainart1icle1{
    margin-top:-10px;
      margin:0px;

    }
   .mainart1icle4
    {
        margin-bottom:10px;
    }
    .maintext1,.secondtext1{
    
     
       
            margin: auto;
    }
    
    
    .maintext1{
        margin:auto;
    }
    .headermen li{
width:100%;
        margin:0px;
        padding: 0px;
        margin-top:-2px;
        z-index: 5;
    }

    
    .twoaarticles{
    display: flex;
   flex-direction: column;
width:100%;
     margin:0px;
}
    footer{
        
        flex-direction: column;
         padding-bottom:20px;
    }
    .razd,.razd2{
     
        width: 40%;
        margin:0px;
        margin-left:15px;
        padding: 0px;
       
    }
    body,footer,header{
        margin:0px;
       
    }
    header{
        margin-bottom:10px;
            height: 40px;
    }
    .down{
    width:100%;
    position: relative;
}
/* Dropdown Button */
.dropbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px;
position: absolute;
    right:5px;
    top:-35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url(menuimg.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    outline: none;
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
    visibility: visible;
    position: absolute;
    display: inline-block;
    outline: none;
    width:100%;
  top:40px;
    text-align: center;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
   
    background-color: #ffffff;
    width:auto;
    box-shadow: 1px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
   
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
    }
    header{
position: sticky;
    }
    .change{
        background-color: #ffffff;
        color:black;
    }
    .change p{
        color:black;
    }
   .maininfo2,.maininfo3,.maininfo4,.maininfo5,.maininfo6,.maininfo7,.maininfo8{
opacity: 0.25;
    height:140px;
        margin-top:50px;
}
    .maininfo1{
opacity: 0.25;
        height:200px;
    }
}


.thanks{
   
    
}
.concts{
  
    padding-bottom:20px;
}
.aboutlinks  {
  color: #2F56B0;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
    padding-bottom:3px;
}

.aboutlinks:hover {
  color: dodgerblue;
  right: 0;
  text-decoration: none;
}

.aboutlinks:hover:after {
  border-color: #457DFB;
  right: 0;
}

.aboutlinks:after {
  border-radius: 1em;
  border-top: .1em solid #2F56B0;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

.aboutlinks:hover:after {
right: 0;
}






